header {
    font-family: 'Rowdies', cursive;
    font-size: 48px;
}

main {
    width: 70vw;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

img {
    height: auto;
    width: 900px;
    justify-content: flex-end;
}

button {
    height: min-content;
    width: min-content;
    display: block;
    justify-items: start;
}