header {
    font-family: 'Rowdies', cursive;
    font-size: 48px;
}

main {
    width: 70vw;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

img {
    height: auto;
    width: 600px;
    justify-content: flex-end;
}

#completed-letters {
    z-index: 1;
    font-family: 'Patrick Hand', cursive;
    font-size: 36px;
    position: relative;
    bottom: 400px;
    right: 150px;
}