
h1 {
    font-family: 'Rowdies', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-align: center;
}

nav {
    background-color: var(--color3);
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

section {
    width: 90vw;
    min-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
