
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-tiles {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    z-index: 1;
    position: relative;
    bottom: 400px;
    left: 250px;
}

img {
    width: 900px;
    height: 600px;
    z-index: 0;
}

#game-prompt {
    z-index: 1;
    position: absolute;
    top: 650px;
    border: 3px solid red;
    width: 900px;
    max-height: 80vw;
}

#find-letter-prompt {
    font-size: 28px;
}
input {
    display: none;
}
input:checked + img {
    border: solid 5px black;
    border-radius: 5px;
}