
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: #fff07cff;
    --color2: #80ff72ff;
    --color3: #7ee8faff;
    --color4: #eec0c6ff;
    --color5: #e58c8aff;
    --color6: #fff8e7;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Patrick Hand', cursive;
    background-color: var(--color6);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 20px;
    padding: 10px;
}

h1 {
    font-family: 'Rowdies', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

p {
    font-family: 'Rowdies', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

main {
    background-color: white;
    width: 70vw;
    min-width: min-content;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    border: 2px slateblue solid;
}

.user-info-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px greenyellow solid;
}

.pack-div { 
    display: none;
}

input:checked + img {
    border: solid 5px black;
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }