body {
    height: 100vh;
    width: 100vw;
}

header, main, a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 20%;
    width: 100%;
    font-size: 5rem;
}

main {
    height: 80%;
    width: 100%;
    font-size: 3rem;
}

a:hover {
    height: 90%;
    width: 100%;
}